{% extends "base.html" %}

{% block title %}NMS - {{page_title}}{% endblock %}

{% block content %}
<div class="net-dashboard">
    <h3>{{page_title}}</h3>
</div>
<div class="gap-view">
</div>
<div class = "interface-details">
    <table class="interface-list-table">
        <thead>
            <tr>
                <th>Device IP/Hostname</th>
                <th>Interface Name/Description</th>
                <th>Speed/MTU</th>
                <th>MAC Address/Media</th>
                <th>IPv4 Address</th>
            </tr>
        </thead>
        <tbody>
            {% for interface in interfaces %}
                <tr class = "interface-list-row-1 {{interface.oper_status}}-{{interface.admin_status}}">
                    <td>
                        <a href="/devices/device/{{ interface.device_id }}">{{ interface.ip_address }}</a>
                    </td>
                    <td>
                        <a class="interface-status {{interface.oper_status}}-{{interface.admin_status}}"href="">
                            {{ interface.name}}
                        </a>
                        <p>{{ interface.description }}</p>
                    </td>
                    <td>
                        <p>{{ interface.speed | format_speed }} </p>
                        <p>{{ interface.mtu }}</p>
                    </td>
                    <td>
                        <p>{{ interface.mac_address}}</p>
                        {% set ifname = interface.name | lower %}
                        {% if 'eth' in ifname or 'gig' in ifname or 'fast' in ifname or 'ten' in ifname or 'ens' in ifname or 'enp' in ifname %}
                            <p>Ethernet</p>
                        {% elif 'lo' == ifname or 'loopback' in ifname %}
                            <p>Loopback</p>>
                        {% elif 'vlan' in ifname or 'bridge' in ifname or 'internal' in ifname or 'vir' in ifname %}
                            <p>Virtual/Internal</p>
                        {% elif 'null' in ifname %}
                            <p>Null</p>
                        {% else %}
                            <p>Other</p>>
                        {% endif %}
                    </td>
                    <td>
                        <p>{{ interface.ipv4_address}}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}